@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    background-color: #141414;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    width: 384px;
    height: 610px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1f1f1f;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    color: #fff;
    gap: 15px;
}

.container img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.container p {
    font-size: 14px;
    font-weight: 200;
    max-width: 85%;
    text-align: center;
    margin-bottom: 10px;
}

.container .name {
    font-size: 20px;
}

.container .country {
    color: #c5f82a;
    font-weight: 600;
}

.social {
    background-color: #333333;
    padding: 15px;
    border-radius: 10px;
    width: 80%;
    text-align: center;
    color: #fff;
    font-weight: 600;
}

.social:hover {
    background-color: #c5f82a;
    color: #141414;
}